
/* black background */
body {
    /* background gradient */
    background: #404652;
    /* set font color */
    color: #fff;
    /* set font size */
    font-size: 1.0em;
    /* set font family */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#chat{
    /* set width */
    width: 100vh;
    /* set height */
    height: 100vx;
    /* set border */
    border: 1px solid #334a40;
    /* set border radius */
    border-radius: 5px;
    /* set background color */
    background-color: #687284;
    /* set margin */
    margin: 0 auto;
    /* set padding */
    padding: 10px;
}

/* for box class */
.msg_user {
    /* position a bit to the right */
    background: linear-gradient(to bottom, #86968f 0%, #9a57a7 100%);
    border: 1px solid #334a40;
    border-radius: 5px;
    color: #fff;
    /*padding: 10px;*/
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.message{
    /* position a bit to the right */
    background-color: #a77b57;
    border: 1px solid #334a40;

    /* set width to be the same as the parent */
    width: 100%;
}

#chat_history{
    height: 80vh;
    /* set overflow */
    overflow: auto;


}


.msg_bot {
    background: linear-gradient(to bottom, #86968f 0%, #575ca7 100%);

    border: 1px solid #334a40;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    margin-right: 5px;
    margin-top: 5px;
}

.msg_icon{
    float: left;
    /* set width */
    width: 25px;
    /* set height */
    height: 25px;
    /* set border radius */
    border-radius: 5px;
    /* set padding */
    padding: 5px;
}

#message{
    /* set width */
    width: 100%;
}

#send{
    /* set width */
    width: 10%;
    /* set border */
    border: 1px solid #334a40;
    /* set border radius */
    border-radius: 5px;
    /* set background color */
    background-color: #b6edda;
    /* set margin */
    margin: 0 auto;
    /* set padding */
    padding: 10px;
    /* set overflow */
    overflow: auto;
}

#pdf_list{
    border: 1px solid #334a40;
    background-color: #b482c3;
}

#header{
    background-color: #716874;
    border: 1px solid #334a40;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#login_page{
    background-color: #5b5a5c;
    border: 1px solid #334a40;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;

    width: 500px;

}

#login_section
{
    /* set width */
    background-color: #b482c3;
}

#registration{
    background-color: #575ca7;
}

/*
#text-container{
    background-color: #5b0b74;
    height: 500px;
    overflow: auto;
}
*/

#text_chunks{
    background-color: #8c9e94;
    padding: 10px;
    height: 500px;
    overflow: auto;
}

.chunk{
    background-color: #382e3b;
    padding: 10px;
    margin-block: 10px;
}